*{
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-size: cover;    /*ajusta para cobrir toda a tela */
    background-repeat: no-repeat; /* evita repetição */
}

header {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between; /* logo esquerda | menu direita */
    align-items: center;
    padding: 20px 40px;
}

.logo img {
    height: 200px;   /* controla o tamanho */
    width: auto;    /* mantém proporção */
    transition: 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo {
    position: absolute;  /* separa do fluxo */
    top: 30px;           /* distância do topo */
    left: 50px;          /* distância da esquerda */
}

.menu {
    display: flex;
    list-style: none;
    gap: 80px;
    align-items: center; /* mantém alinhado independente do logo */
    position: absolute;  /* chave */
    right: 60px;         /* mantém onde já está */
    top: 80px;
    transform: translateY(-50%);
}

.menu a {
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ffffff;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: #C52613;
}

.dogfk {
    width: 100%;
    height: 100vh;
    margin-top: 120px;                 /* empurra para baixo do header */
    background-color: #C52613;
    background-size: cover;        /* ESSENCIAL */
    background-position: center;
    background-repeat: no-repeat;
}

.ycszs {
    width: 100%;
    height: 400px;
    background-color: #afadad;
    display: flex;
}

.rwsxd {
    width: 500px;
    height: 550px;
    background-color: #ffffff;
    
}

.weftp {
    width: 500px;
    height: 550px;
    background-color: #ffffff;
}