*{
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red; /* para visualizar os blocos */
    
}

.navbar {
    background-color: #000000;
    display: flex;
    justify-content: space-between; /* logo esquerda | menu direita */
    align-items: flex-start; /* alinha ao topo */
    padding: 20px 60px;
    width: 100%;
}

.logo img {
    height: 200px;   /* controla o tamanho */
    width: auto;    /* mantém proporção */
    transition: 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.logo {
    position: absolute;  /* separa do fluxo */
    top: 30px;           /* distância do topo */
    left: 50px;          /* distância da esquerda */
}

.menu {
    display: flex;
    list-style: none;
    gap: 60px;
    margin-top: 40px;
    margin-left: auto;
}

.menu a {
    font-size: 28px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #ffffff;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.menu a:hover {
    color: #C52613;
}

.dogfk {     /* Banner */
    width: 100%;
    height: 600px; /* compensa altura do header */
    background-color: #C52613;
}

.ycszs {     /* Informações */
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 50px;
}

.rwsxd {     /* Próximo jogo */
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.tyujk {     /* Título "Próximo jogo" */
    width: auto;
    height: 10px;
    position: absolute;
    display: flex;
    margin-left: 145px;
}

.hufds {     /* Estilo do título "Próximo jogo" */
    font-weight: 550;
}

.iframe {
    max-width: 100%;
    display: block;
}

.siren {     /* Informações do próximo jogo */
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    
}

.weftp {     /* Tabela de Classificação */
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 350px;
    background-color: #ffffff;
    border: none;
    
}

.artigos {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20vw;
    gap: 50px;

}

.futebol {
    width: 540px;
    height: 555px;
    
}

.basquete {
    width: 540px;
    height: 555px;
}

.volei {
    width: 540px;
    height: 555px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    margin-top: 50px;
    color: #ffffff;
    background-color: #C52613;
    
}

.footer-links-uteis a {
    color: #ffffff;
    text-decoration: none;
    
}

.footer-redes-sociais {
    display: flex;
    flex-direction: column;
}

.footer-redes-sociais a {
    color: #ffffff;
    text-decoration: none;

}






